.btn-info {
    background-color: #70acf0;
}

.material-icons {
  font-size: 18px;
}

.ngx-datatable {
  font-size:85px !important;
}

@media screen and (max-width: 400px) {
  .responsive-size {
    font-size:12px;
  }
}
@media screen and (min-width: 400px) {

}