<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%" style="background-color:#0000FF">Item 1</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3" style="background-color:rgb(255, 0, 170)">Item 2</div>
  <div class="item item-3" fxFlex  style="background-color:rgb(40, 211, 131)">Item 3</div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0" style="background-color:rgb(255, 252, 58)">Item 4</div>
  <div class="item item-5" fxFlex="200px" style="background-color:rgb(211, 40, 40)">Item 5</div>
</div>