.todo-card {
    background-color:#f8f8f8;
    max-width: 530px;
}

.todo-form {
    font-size: 16px;
}

.priority-check {
    padding-left:15px;
    margin-top: 40px;
}

input[type=text], select, textarea{
    width: 340px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.priority {
    background-color: #faad96;
}

.todo-list-present {
    background-color: #ffffff;
}

.completed {
    background-color: #c1fdc8;
    text-decoration: line-through;
}

.btn-complete {
    background-color: #10854e;
    color: #ffffff;
}

.btn-trash {
    background-color: #752626;
    color: #ffffff;
}

th, td {
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.todo-list tr {
    border-bottom: 1px solid  #d4d4d4;
}

.description {
    padding: 10px;
}

.todo-list {
    height: 205px;
    overflow: auto;
}

@media screen and (max-width: 975px) {
    input[type=text] {
        width: 100%;
    }
}


