.hr-navbar {
    background-color: #B56357;
    color: #ececec;
    Width: 100%;
    Height: 74px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: auto;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(140,137,140,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(140,137,140,1);
    box-shadow: 2px 2px 2px 0px rgba(140,137,140,1);
}

.header > .logo {
    display: inline-block;
    height: 54px;
}

.small-nav {
    float: right;
    display: none;
    padding-top: 5px;
}

.small-nav a{
    color: #ffffff;
    font-size: 24px
}

@media screen and (max-width: 750px) {
    .header > .logo {
        height: 40px;
    }
    .hr-navbar {
        height: 60px;
    }
    .small-nav {
        display: inline;
    }
}