.navbar {
    background-color: rgb(32, 32, 32);
    color: #ececec;
    Width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: auto;
}

#logo {
    display: inline-block;
}

.header {
    text-align: center;
}