<div class="sidenav">
    <ul class="side-list">
                <li><a mat-list-item [routerLink]="['/']" >
                    Home
                </a></li>
                <mat-divider></mat-divider>
                <li><a mat-list-item [routerLink]="['/applicants']">
                    Applicants
                </a></li>
                <mat-divider></mat-divider>
                <li></li><a mat-list-item [routerLink]="['/positions']" >
                    Positions
                </a>
                <mat-divider></mat-divider>
            </ul>
</div>