<div class="sidenav" *ngIf="isLoggedIn">
    <ul class="side-list">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                    true}"><a [routerLink]="['/']" >
                    Home
                </a></li>
                <mat-divider></mat-divider>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/applicants']">
                    Applicants
                </a></li>
                <mat-divider></mat-divider>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/positions']">
                    Positions
                </a></li>
                <mat-divider></mat-divider>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/employees']">
                    Employees
                </a></li>
                <mat-divider></mat-divider>
            </ul>
</div>