.sidenav {
    height: 100%;
    width: 170px;
    margin-top: 75px; 
    position: fixed;

    z-index: 0;
    top: 0;
    left: 0;
    background-color: #d4eee6;
    overflow-x: hidden;
    padding-top: 20px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(140,137,140,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(140,137,140,1);
    box-shadow: 2px 2px 2px 0px rgba(140,137,140,1);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color:#16201c;
    display: block;
}

.sidenav a:hover {
    color: #5c5c5c;
}

@media screen and (max-width: 750px) {
    .mat-card {
        width: 100%;
    }

    .mat-cell {
        font-size: 12px;
    }

    .sidenav {
        display: none;
    }
}
