<mat-card class="login-card">
    <div class="card">
      <div class="card-body">
        <div class="text-center sign-in-header">Sign-in to your HR Account</div>
        <hr>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div>
          <br>
          <input type="submit" value="Submit" class="btn btn-submit btn-block">
        </form>
      </div>
    </div>
</mat-card>