<mat-card *ngIf="employee != undefined" class="vacation-card">
  <div class="back">
      <a [routerLink]="['/employees/'+ id]" href="#" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Details
      </a>
  </div>
  <h3>{{employee.firstName}} {{employee.lastName}}</h3>
  <div>Annual Vacation: {{employee.vacationAllotment}} days</div>
  <div [ngClass] = "{'too-much-vaca': remainingDays < 0}">Remaining: {{remainingDays}} days</div>
  <hr>
  <table style="width:100%;" class="vacation-list">
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days Taken</th>
      <th></th>
    </tr>
  </table>
  <div [ngClass] = "{'todo-list-present': vacations != ''}" class="vacation-list">
      <table style="width:100%;" >
        <tr *ngFor="let vacation of vacations">
          <td>{{vacation.startDate}}</td>
          <td>{{vacation.endDate}}</td>
          <td>{{vacation.length}}</td>
          <td>
            <a class="btn btn-trash" href="#" (click)="deleteVacation($event, vacation.startDate, vacation.endDate)">
                <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </table>
      <div *ngIf="vacations == false">{{vacationQuote}}</div>
      <div *ngIf="vacations == false">- {{vacationQuote}}</div>
    </div>
    <hr>
    <form class="vacation-form" (submit)="addVacation()">
      <table style="width:100%;">
        <tr style=" border-bottom: 5px solid #ffffff;">
            <td><input type="date" [(ngModel)]="startDate" name="startDate" (change)="startDateChange($event)"></td>
            <td><input type="date" [(ngModel)]="endDate" name="endDate" [disabled]="startDate == undefined" [min]="startDate" [max]="yearFromStart" (change)="endDateChange($event)"></td>
            <td><input type="text" [(ngModel)]="daysTaken" name="daysTaken" disabled value="daysTaken"></td>
            <td><input type="submit" class="btn btn-primary" value="Add"></td>
        </tr>
      </table>
    </form>
</mat-card>