<mat-card class="chess-card">
  <h3>Chess</h3>
    <form class="chess-form" (submit)="submitMove()">
      <input type="text" [(ngModel)]="playerMove" name="playerMove"><br><br>
      <input type="submit" class="btn btn-primary" value="Move">
    </form>
    <hr>
    <table class="board">
      <tr>
        <td (click)="click(A8, 'A8', $event)">{{A8}}</td>
        <td (click)="click(B8, 'B8', $event)">{{B8}}</td>
        <td (click)="click(C8, 'C8', $event)">{{C8}}</td>
        <td (click)="click(D8, 'D8', $event)">{{D8}}</td>
        <td (click)="click(E8, 'E8', $event)">{{E8}}</td>
        <td (click)="click(F8, 'F8', $event)">{{F8}}</td>
        <td (click)="click(G8, 'G8', $event)">{{G8}}</td>
        <td (click)="click(H8, 'H8', $event)">{{H8}}</td>
      </tr>
      <tr>
        <td (click)="click(A7, 'A7', $event)">{{A7}}</td>
        <td (click)="click(B7, 'B7', $event)">{{B7}}</td>
        <td (click)="click(C7, 'C7', $event)">{{C7}}</td>
        <td (click)="click(D7, 'D7', $event)">{{D7}}</td>
        <td (click)="click(E7, 'E7', $event)">{{E7}}</td>
        <td (click)="click(F7, 'F7', $event)">{{F7}}</td>
        <td (click)="click(G7, 'G7', $event)">{{G7}}</td>
        <td (click)="click(H7, 'H7', $event)">{{H7}}</td>
      </tr>
      <tr>
        <td (click)="click(A6, 'A6', $event)">{{A6}}</td>
        <td (click)="click(B6, 'B6', $event)">{{B6}}</td>
        <td (click)="click(C6, 'C6', $event)">{{C6}}</td>
        <td (click)="click(D6, 'D6', $event)">{{D6}}</td>
        <td (click)="click(E6, 'E6', $event)">{{E6}}</td>
        <td (click)="click(F6, 'F6', $event)">{{F6}}</td>
        <td (click)="click(G6, 'G6', $event)">{{G6}}</td>
        <td (click)="click(H6, 'H6', $event)">{{H6}}</td>
      </tr>
      <tr>
        <td (click)="click(A5, 'A5', $event)">{{A5}}</td>
        <td (click)="click(B5, 'B5', $event)">{{B5}}</td>
        <td (click)="click(C5, 'C5', $event)">{{C5}}</td>
        <td (click)="click(D5, 'D5', $event)">{{D5}}</td>
        <td (click)="click(E5, 'E5', $event)">{{E5}}</td>
        <td (click)="click(F5, 'F5', $event)">{{F5}}</td>
        <td (click)="click(G5, 'G5', $event)">{{G5}}</td>
        <td (click)="click(H5, 'H5', $event)">{{H5}}</td>
      </tr>
      <tr>
        <td (click)="click(A4, 'A4', $event)">{{A4}}</td>
        <td (click)="click(B4, 'B4', $event)">{{B4}}</td>
        <td (click)="click(C4, 'C4', $event)">{{C4}}</td>
        <td (click)="click(D4, 'D4', $event)">{{D4}}</td>
        <td (click)="click(E4, 'E4', $event)">{{E4}}</td>
        <td (click)="click(F4, 'F4', $event)">{{F4}}</td>
        <td (click)="click(G4, 'G4', $event)">{{G4}}</td>
        <td (click)="click(H4, 'H4', $event)">{{H4}}</td>
      </tr>
      <tr>
        <td (click)="click(A3, 'A3', $event)">{{A3}}</td>
        <td (click)="click(B3, 'B3', $event)">{{B3}}</td>
        <td (click)="click(C3, 'C3', $event)">{{C3}}</td>
        <td (click)="click(D3, 'D3', $event)">{{D3}}</td>
        <td (click)="click(E3, 'E3', $event)">{{E3}}</td>
        <td (click)="click(F3, 'F3', $event)">{{F3}}</td>
        <td (click)="click(G3, 'G3', $event)">{{G3}}</td>
        <td (click)="click(H3, 'H3', $event)">{{H3}}</td>
      </tr>
      <tr>
        <td (click)="click(A2, 'A2', $event)">{{A2}}</td>
        <td (click)="click(B2, 'B2', $event)">{{B2}}</td>
        <td (click)="click(C2, 'C2', $event)">{{C2}}</td>
        <td (click)="click(D2, 'D2', $event)">{{D2}}</td>
        <td (click)="click(E2, 'E2', $event)">{{E2}}</td>
        <td (click)="click(F2, 'F2', $event)">{{F2}}</td>
        <td (click)="click(G2, 'G2', $event)">{{G2}}</td>
        <td (click)="click(H2, 'H2', $event)">{{H2}}</td>
      </tr>
      <tr>
        <td (click)="click(A1, 'A1', $event)">{{A1}}</td>
        <td (click)="click(B1, 'B1', $event)">{{B1}}</td>
        <td (click)="click(C1, 'C1', $event)">{{C1}}</td>
        <td (click)="click(D1, 'D1', $event)">{{D1}}</td>
        <td (click)="click(E1, 'E1', $event)">{{E1}}</td>
        <td (click)="click(F1, 'F1', $event)">{{F1}}</td>
        <td (click)="click(G1, 'G1', $event)">{{G1}}</td>
        <td (click)="click(H1, 'H1', $event)">{{H1}}</td>
      </tr>
    </table>
</mat-card>

