.large-screen-hide {
    display:none;
}



.btn-info {
    background-color: #70acf0;
}

@media screen and (max-width: 400px) {
    .responsive-size {
      font-size:12px;
    }
    .large-screen-hide {
        display:initial;
    }
    .small-screen-hide {
        display:none;
    }
}
@media screen and (min-width: 400px) {
    .responsive-size {
        font-size:16px;
    }
    .large-screen-hide {
        display:none;
    }
    .small-screen-hide {
        display:initial;
    }
}


