<div>
    <input
    type='text'
    style='padding:8px;margin:15px auto;width:240px;'
    placeholder='Type to filter by name...'
    (keyup)='updateFilter($event)'
    />
    <ngx-datatable
      class="material"
      [rows]="rows"
      [loadingIndicator]="false"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="40"
      [rowHeight]="'auto'"
      [reorderable]="true"
      >
      <ngx-datatable-column name="Name" prop="lastName">
          <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="responsive-size" [innerHTML]="row['lastName']+ ', ' + row['firstName']"></span>
            </ng-template>
      </ngx-datatable-column>

      <!-- email -->
      <ngx-datatable-column name="Email" prop="email">
          <ng-template let-row="row" let-value="row" ngx-datatable-cell-template>
            <a [href]="'mailto:' + value.email" class="responsive-size"><span class="small-screen-hide">{{value.email}}</span><span class="large-screen-hide">Link</span></a>
          </ng-template>
      </ngx-datatable-column>

      <!-- phone -->
      <ngx-datatable-column name="Phone" prop="phone">
          <ng-template let-row="row" let-value="row" ngx-datatable-cell-template>
              <a [href]="'tel:1-' + value.phone" class="responsive-size"><span class="small-screen-hide">{{value.phone}}</span><span class="large-screen-hide">Call</span></a>
          </ng-template>
      </ngx-datatable-column>

      <!-- City & State -->
      <ngx-datatable-column name="Location" prop="city">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span [innerHTML]="row['city']+ ', ' + row['state']" class="responsive-size"></span>
        </ng-template>
      </ngx-datatable-column>

    <ngx-datatable-column name="Details" prop="key">
      <ng-template let-row="row" ngx-datatable-cell-template>
          <a [routerLink]= "['/applicants/' + row['key']]" class="" > <i class="material-icons">arrow_forward</i></a>
      </ng-template>
    </ngx-datatable-column>  
  </ngx-datatable>
</div>



